.footer {
  height: 70px; /* same as navbar */
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  font-size: 0.95rem;
  font-weight: 400;
  margin-top: auto;
}

.footer p {
  margin: 0;
  color: #ffffff;
  text-align: center;
}
